* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

.header {
  width: 100%;
  background: #fff;
  border-bottom: 1px solid #eee;
}

.container {
  max-width: 1200px;
  margin: auto;
  padding: 15px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
}

.logo img {
  height: 40px;
}

.logo h2 {
  font-weight: 700;
  letter-spacing: 1px;
}

.search {
  display: flex;
  align-items: center;
  gap: 10px;
  background: #f5f5f5;
  padding: 8px 12px;
  border-radius: 8px;
}

.search input {
  border: none;
  outline: none;
}

.search select {
  border: none;

}

.search button {
  border: none;
  background: black;
  color: white;
  padding: 6px 10px;
  border-radius: 6px;
  cursor: pointer;
}

.nav ul {
  max-width: 1200px;
  margin: auto;
  padding: 12px 20px;
  display: flex;
  align-items: center;
  gap: 25px;
}

.nav li {
  color: black;
  cursor: pointer;
}


.sidebar {
  position: fixed;
  top: 0;
  left: -100%;
  width: 280px;
  height: 100%;
  background: #fff;
  z-index: 1000;
  transition: 0.4s;
  padding: 20px;
}

.sidebar.active {
  left: 0;
}

.sidebar-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
  border-bottom: 1px solid #eee;
  padding-bottom: 10px;
}

.close-btn {
  background: none;
  border: none;
  font-size: 24px;
  cursor: pointer;
}

.sidebar-links li {
  padding: 15px 0;
  border-bottom: 1px solid #f9f9f9;
  font-weight: 500;
  cursor: pointer;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 999;
}


@media (max-width: 768px) {
  .nav {
    display: none;
  }

  .search {
    display: none; 
  }
}