.carded_wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fill, 220px);
  gap: 20px;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
}




.carded {
  background: #fff;
  border-radius: 12px;
  padding: 15px;
  text-align: center;
  position: relative;
  box-shadow: 0 4px 12px rgba(0,0,0,0.08);
  transition: 0.3s;
}

.carded:hover {
  transform: scale(1.1);
}



.badge {
  position: absolute;
  top: 10px;
  right: 10px;
  background: black;
  color: white;
  font-size: 12px;
  padding: 4px 8px;
  border-radius: 6px;
}

.carded_img {
  width: 100%;
  height: 160px;
  margin-bottom: 10px;
}

.carded_name {
  font-size: 14px;
  font-weight: 600;
  margin: 8px 0;
}

.carded_price {
  font-size: 16px;
  font-weight: bold;
  margin: 5px 0;
}

.carded_stars {
  font-size: 13px;
  color: #555;
}

.carded_info {
  font-size: 12px;
  color: #777;
}
