.phones_container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  gap: 20px;
  padding: 20px;
  background-color: #f4f4f4;
}

.phone_card {
  background: #fff;
  border-radius: 15px;
  padding: 20px;
  text-align: center;
  box-shadow: 0 4px 10px rgba(0,0,0,0.05);
  transition: 0.3s;
  position: relative;
}

.phone_card:hover {
  transform: translateY(-5px);
}


.img_wrapper {
  background-color: #f9f9f9;
  border-radius: 10px;
  padding: 20px;
  margin-bottom: 15px;
  position: relative;
}

.img_wrapper img {
  width: 100%;
  height: 200px;
  object-fit: contain;
}


.badge {
  position: absolute;
  top: 10px;
  right: 10px;
  background: #333;
  color: #fff;
  padding: 4px 12px;
  border-radius: 5px;
  font-size: 12px;
  font-weight: bold;
}


.price {
  font-size: 24px;
  font-weight: 800;
  color: #222;
  margin: 10px 0;
}

.name {
  font-size: 18px;
  font-weight: 500;
  color: #444;
  margin-bottom: 8px;
}

.stars {

  font-size: 16px;
  margin-bottom: 5px;
}

.info {
  font-size: 14px;
  color: #888;
  font-weight: 400;
}